/* Global Styles */
body {
    overflow-x: hidden;
}

header, section {
    font-family: 'ChromateSerif', serif;
    height: 100vh;
}

footer {
    height: 25vh;
}

.features {
    height: auto;
}

.testimonials {
    height: 75vh;
}

/* Navbar Styles */
.navbar {
    background-color: #404040 !important;
    position: sticky;
}

.navbar-brand, .nav-link {
    color: #e0e4e7 !important;
}

.nav-link:hover {
    color: #008b8b !important;
}

/* Dashboard Styles */
#graph-wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 60%;
    width: 60%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
}

#graph-container {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

/* Homepage Styles */
/* Header */
.header-blockquote, .header-quote-author {
    color: #404040;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 400;
    position: relative;
}

.header-image {
    border-radius: 76% 24% 92% 8% / 85% 65% 34% 15%;
    transform: scale(1);
    object-fit: contain;
    margin: auto;
}

.header-title {
    font-size: clamp(3.5rem, 4vw, 4.5rem);
    font-weight: bold;
    position: relative;
    color: #404040;
}

.header-subtitle {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 400;
    margin-top: 2rem;
    position: relative;
    color: #404040;
}

/* Buttons */
.button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #007bff;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button:hover {
    color: #212529;
    background-color: #0056b3;
    border-color: #004085;
}

.button:focus, .button.focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.button-left {
    background: #D1E0DE !important;
    color: #404040 !important;
    margin-top: 2rem;
}

.button-right {
    background: #008B8B !important;
    color: white !important;
    margin-top: 2rem;
}

/* Features */
.features .card {
    box-shadow: 5px 5px 5px black;
}

.features h2 {
    color: #404040;
    font-size: clamp(3rem, 2vw, 3.5rem);
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.icon-container i {
    color: white;
    text-align: center;
    font-size: calc(1.5rem + 3vw);
}

/* Testimonials */
.testimonials {
    background: white;
    color: #404040;
    display: grid;
    margin: 5vw 12vw 0 12vw;
}

.testimonials h2 {
    color: #404040;
    font-size: clamp(3rem, 2vw, 3.5rem);
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

/* Footer */
.footer {
    background: white;
    color: #f3f6f4;
    padding: 40px 0;
    text-align: center;
}

.footer-list a {
    color: #404040;
    font-size: clamp(1rem, 25vw, 2rem);
    text-decoration: none;
}

.footer p {
    background: white;
    color: #404040;
    margin: 5vw 12vw 0 12vw;
}

/* Login Page */
.card-footer, .card-header {
    background: #404040;
    color: white;
}

.card-body {
    background: white;
    color: #404040;
}