{% extends 'base.html' %}

{% block content %}
    <table>
        {% for stock, data in stocks %}
            <tr>
                <td>{{ stock.stock_name }}</td>
                <td>{{ data.close_price }}</td>
                <td>
                    <form method="post" action="{% url 'watchlist' %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="remove">
                        <input type="hidden" name="stock_name" value="{{ stock.stock_name }}">
                        <button type="submit">Remove from Watchlist</button>
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Your watchlist is currently empty. Use the form below to add a stock to your
                    watchlist.
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}